html, body {
  font-family: 'Oxygen', Helvetica, Sans-serif;
  height: 100%;
  margin: 0;
}

.heading {
  font-family: 'Lobster', Helvetica, Sans-serif;
  height: 150%;
  Opacity: 0.7;
  color: #000;
}

#wrapper {
  min-height: 100%;
    margin-bottom: auto;
    padding-bottom: 10%;
}

.bg-div {
  background-repeat: no-repeat;
  background: url(https://unsplash.it/1080/?random);
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.sheet {
  background: black;
  opacity: 0.65;
  padding: 0.5%;
  border-radius: 10px;
  margin-top: 15%;    
  margin-bottom: auto;    
}

.quote {
  
  color: white;
/*  font-size: 250%;*/
    font-size: 150%;
  font-weight: bold;
}

blockquote p::first-letter {
    font-size: 150%;
/*  font-size: 200%;*/
  color: #66222f;
}

blockquote footer {
  font-size: 175%;
  font-weight: bold;
  font-family: 'Oxygen';
  text-align: right;
  padding-right: 10%;
}

blockquote {
}

#tweet {
  color: #ffffff;
  background-color: black;
  border-radius: 100%;
}

#tweet:hover,
#fb:hover, #fcc:hover {
  color: black;
  background-color: white;
font-weight: bolder;    
}

#tweet:active,
#fb:active, #fcc:active {
  color: white;
  background-color: black;
}
#fcc {
/*  color: #ffffff;*/
/*  background-color: black;*/
/*  border-radius: 100%;*/
  
}
#fb {
  color: #ffffff;
  background-color: black;
  border-radius: 50%;
  border-color:dodgerblue;
}

#social{
    margin-left: 5%;
}
#new-quote {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 5%;
  font-size: 125%;
}

#new-quote:hover {
  background: white;
  color: black;
}

#new-quote:active {
  background: black;
  color: white;
}

.credit {
  font-family: Oxygen, Helvetica, Sans-serif;
  font-size: 100%;
  color: #ffffff;
  margin-top: 10px;
  letter-spacing: 7px; 
}
.credit a{
    
}
